@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(221, 221, 221);
  --secondary-color: rgb(34, 40, 49);
  --tertiary-color: rgb(48, 71, 94);
  --quaternary-color: rgb(240, 84, 84);
}

@layer base {
  html {
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
  }
}

@layer components {
  .btn_m {
    @apply bg-neutral-100  hover:bg-gray-100 text-neutral-600  font-semibold py-2 px-4 border border-gray-400 rounded shadow;
  }

  .panel_chat_grid {
    grid-template-rows: 0.1fr 1fr 0.1fr;
  }

  .input_card {
    outline-color: transparent;
    background-color: white;
  }
  .input_card:focus {
    height: 100%;
    padding: 0px;
    margin: 0;
  }
  input[disabled] {
    background-color: white; /* Cambia el color de fondo */
  }
}
