<div class='w-full h-full p-1 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700'>
  <div class='grid grid-cols-2 h-[20%] grid-rows-1 p-1 border border-gray-200 rounded-lg'>
    {{!-- Imagen del perfil --}}
    <div class=" flex items-center w-[50%] mx-auto">
      <img class='w-28 h-28 mb-3 rounded-full shadow-lg' src={{#if this.img}}
      {{this.img}}
      {{else}}
        "/image/notfound.png"
      {{/if}} alt='Bonnie image' />
    </div>
    <div>
      <!-- Dropdown menu -->
      <div class='grid grid-rows-3 h-full'>
        <div class="flex items-center gap-2 justify-around h-full ">
          <div class="flex grow-1">
            <p class='mb-1 text-xl  font-medium text-gray-900 dark:text-white'>{{this.username}}</p>
          </div>
          {{!-- <span class='text-sm text-gray-500 dark:text-gray-400'>{{this.role}}</span> --}}
          <div class="flex items-center gap-2 grow-1 ">
            <button  class='inline-flex items-center px-2 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'>View profile</button>
            <button  class='inline-flex items-center px-2 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700'>Message</button>
          </div>
          <div>
            <button id='dropdownButton' data-dropdown-toggle='dropdown' class='inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5' type='button'>
              <span class='sr-only'>Open dropdown</span>
              <svg class='w-5 h-5' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 16 3'>
                <path d='M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z' />
              </svg>
            </button>
            <div id='dropdown' class='z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700'>
              <ul class='py-2' aria-labelledby='dropdownButton'>
                <li>
                  <a href='#' class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white'>Edit</a>
                </li>
                <li>
                  <a href='#' class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white'>Export Data</a>
                </li>
                <li>
                  <a href='#' class='block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white'>Delete</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="pt-2 h-full">
            <ul class="flex h-full justify-around items-center">
              <li>4023 publicaciones</li>
              <li>1534 amigos </li>
              <li>24123 ventas </li>
            </ul>
        </div>
        <div class="pl-4 flex items-end h-full overflow-auto">
            <p>Yo soy franchesco virgolini la maquina mas veloz de toda italia  🚗🚗🚗</p>
        </div>
      </div>
    </div>
  </div>
</div>

