{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 300,
  "prettier/prettier": [
    "error",
    {
      "endOfLine": "auto"
    }
  ],
  "overrides": [{ "files": "*.handlebars" }]
}
