<div class='bg-primary-color h-full w-full flex bg-meteor-svg'>
  <section class='w-1/6 p-5'>
    <div id='navbar' class='h-full border-solid border-2 border-quaternary-color rounded-lg overflow-hidden relative'>
      <div class='absolute right-0 top-0 bottom-0 flex items-center'>
        <button id='hidden_navbar' class='increment_animation pl-2 h-14 w-14 bg-white border-l-inherit border-2 border-quaternary-color flex items-center justify-center rounded-full cursor-pointer z-40'>
          <span class='material-symbols-outlined'>
            arrow_back_ios
          </span>
        </button>
      </div>
      <ul class='relative text-quaternary-color h-full flex flex-col z-0'>
        <li class='p-1' id='btn_user'>
          <button
            type='button'
            class='inline-flex w-full items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b hover:rounded-lg transition-all border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white'
          >
            <span class='material-symbols-outlined'>
              group
            </span>
            &nbsp &nbsp Usuarios
          </button>
        </li>
        <li class='p-1' id='btn_products'>
          <button
            type='button'
            class='inline-flex w-full items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b hover:rounded-lg transition-all border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white'
          >
            <span class='material-symbols-outlined'>
              storefront
            </span>
            &nbsp &nbsp Productos
          </button>
        </li>
        <li class='p-1'>
          <button
            type='button'
            class='inline-flex w-full items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b hover:rounded-lg transition-all border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white'
          >
            <span class='material-symbols-outlined'>
              confirmation_number
            </span>
            &nbsp &nbsp Tickets
          </button>
        </li>
        <li class='p-1'>
          <button
            type='button'
            class='inline-flex w-full items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b hover:rounded-lg transition-all border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white'
          >
            <span class='material-symbols-outlined'>
              chat
            </span>
            &nbsp &nbsp Chat
          </button>
        </li>
        <li class='p-1'>
          <button
            type='button'
            class='inline-flex w-full items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b hover:rounded-lg transition-all border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white'
          >
            <span class='material-symbols-outlined text-xl'>
              settings
            </span>
            &nbsp &nbsp Settings
          </button>
        </li>
        <div class='absolute bg-primary-color h-full w-full top-0 -z-40 blur opacity-20'></div>
      </ul>
    </div>
  </section>
  <section class='w-5/6 p-5'>
    <div id='table' class='h-full w-full rounded-lg border-2 border-quaternary-color z-0 relative overflow-hidden overflow-y-scroll'>
      <div id='dashboard_user' class='p-3 grid grid-cols-3 gap-5'></div>
      <div class='absolute bg-primary-color h-full w-full top-0 blur -z-40 opacity-20'></div>
    </div>
  </section>
</div>
<script src='/js/admin/index.js' defer type='module'></script>