<div class='bg-primary-color h-full w-full flex bg-meteor-svg'>
  <section class='w-1/6 p-5'>
    <div class='h-full border-solid border-2 border-quaternary-color rounded-lg overflow-hidden'>
      <ul class='relative text-quaternary-color h-full flex flex-col z-0'>
        <li class='p-1'>
          <button
            type='button'
            class='inline-flex w-full items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b hover:rounded-lg transition-all border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white'
          >
            <span class='material-symbols-outlined'>
              group
            </span>
            Usuarios
          </button>
        </li>
        <li class='p-1'>
          <button
            type='button'
            class='inline-flex w-full items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b hover:rounded-lg transition-all border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white'
          >
            <span class='material-symbols-outlined'>
              storefront
            </span>
            Productos
          </button>
        </li>
        <li class='p-1'>
          <button
            type='button'
            class='inline-flex w-full items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b hover:rounded-lg transition-all border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white'
          >
            <span class='material-symbols-outlined'>
              confirmation_number
            </span>
            Tickets
          </button>
        </li>
        <li class='p-1'>
          <button
            type='button'
            class='inline-flex w-full items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b hover:rounded-lg transition-all border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white'
          >
            <span class='material-symbols-outlined'>
              chat
            </span>
            Chat
          </button>
        </li>
        <li class='p-1'>
          <button
            type='button'
            class='inline-flex w-full items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b hover:rounded-lg transition-all border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white'
          >
            <span class='material-symbols-outlined text-xl'>
              settings
            </span>
            Settings
          </button>
        </li>
        <div class='absolute bg-primary-color h-full w-full top-0 -z-40 blur opacity-20'></div>
      </ul>
    </div>
  </section>
  <section class='w-5/6 p-5'>
    <div class='h-full rounded-lg border-2 border-quaternary-color z-0 relative'>
      <h1>Hola chicos este va ser el dashboard</h1>
      <div class='absolute bg-primary-color h-full w-full top-0 blur -z-40 opacity-20'></div>
    </div>
  </section>
</div>

{{! <span class="material-symbols-outlined">
admin_panel_settings
</span> }}