<div class='flex h-5/6'>
    <div class='relative overflow-x-auto sm:rounded-lg w-2/5 flex flex-col  items-center'>
      <div class='flex items-center justify-between py-4 bg-white dark:bg-gray-800'>
        <label for='table-search' class='sr-only'>Search</label>
        <div class='relative'>
          <div class='absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none'>
            <svg class='w-4 h-4 text-gray-500 dark:text-gray-400' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'>
              <path stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z' />
            </svg>
          </div>
          <input
            type='text'
            id='table-search-users'
            class='block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
            placeholder='Search for users'
          />
        </div>
      </div>
      <table class='text-sm text-left text-gray-500 dark:text-gray-400 w-full'>
        <tbody class="grid grid-cols-1" id="list_friends">
          {{#each friends}}
            {{> table-friend}}
          {{/each}}
        </tbody>
      </table>
      <!-- Edit user modal -->
    </div>
  <div class="w-4/5" id="panel_chat">
    
  </div>
  
</div>
<script src='https://cdn.socket.io/4.5.4/socket.io.min.js'></script>
<script defer src='/js/chat/index.js' type="module"></script>




